<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">-->
    <link rel="stylesheet" href="/resources/dist/skeleton.min.css">
    <link rel="stylesheet" href="modal.css">
</head>
<body>


<div id="quizroot" class="container">
    <div class="row">
        <div class="twelve columns">
            <quiz-list/>
        </div>
    </div>
</div>


</body>
<script src="/resources/dist/axios.min.js"></script>
<script src="/resources/dist/vue.js"></script>
<script src="main.js"></script>
</html>